h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
}
p, div {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.white-section {
	min-height: 100%;
    padding-top: 100px;
	padding-bottom: 300px;
    text-align: center;
    /*background: #fff;*/
	background: url(../images/cubes.png) repeat 0 0;
}

.gray-section {
	min-height: 100%;
    padding-top: 100px;
	padding-bottom: 300px;
    text-align: center;
    background: #eee;
	background: url(../images/geometry2.png) repeat 0 0;
}

.longer-section{
	height:150%;
}

.my-animation
{
  width: 100px;
  height: 100px;
  background: red;
  -webkit-animation: myanimation 5s 0s infinite linear alternate; /* Chrome, Safari, Opera */
  animation: myanimation 5s 0s infinite linear alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myanimation {
  0%  {
    border-radius:0 0 0 0;
  }
  25%  {
    border-radius:50% 0 0 0;
  }
  50%  {
    border-radius:50% 50% 0 0;
  }
  75%  {
    border-radius:50% 50% 50% 0;
  }
  100% {
    border-radius:50%;
  }
}

/* Standard syntax */
@keyframes myanimation {
    from {background: red;}
    to {background: yellow;}
}
